/* Styles for the navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
  width: 100%; 
  z-index: 10000;
  transition: left 0.3s ease; 
}

.navbar__logo {
  position: fixed;
  left: 20px; /* Changed from right to left */
  width: 20%;
  top: 0;
  z-index: 10001;
}

.navbar__logo img {
  width: 100%;
  height: auto;
}

.navbar h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%; /* Ensure the container spans the full width */
}

.navbar__container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  height: 60px; 
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__item {
  padding: 0 15px;
}

.navbar__links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar__btn {
  display: block;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background: #444; /* Added background color for visibility */
  color: white; /* Ensuring text is visible */
}

.social-sidebar {
  position: fixed;
  right: -100px; /* Sidebar hidden initially off the right side */
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #333;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.social-icon {
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
  font-size: 16px;
  display: block;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {

  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .navbar__container {
    justify-content: center;
  }

  .navbar__logo{
    width: 50%;
    position: relative;
  }
  
  .button {
    display: none;
  }

  .navbar h1 {
    display: none; /* Hide the h1 on smaller screens */
  }

  .navbar__item {
    padding: 0 8px; /* Further reduce padding for smaller screens */
  }
}