/* Styles for the navbar */
.navbar {
  padding: 50px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.navbar__container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  height: 60px; 
  background: transparent;
}

.navbar__logo {
  position: absolute;
  left: 20px; /* Changed from right to left */
  width: 20%;
  /* top: 0; Potential FIX TO MAKE ELEMENTS VERTICAL */
  background-color: transparent;
  z-index: 10001;
}

.navbar__logo img {
  width: 100%;
  height: auto;
  background: transparent;
}

.navbar h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%; /* Ensure the container spans the full width */
  background: transparent;
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: transparent;
}

.navbar__item {
  padding: 0 15px;
  background: transparent;
}

.navbar__links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar__btn {
  display: block;
  background: transparent;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background: transparent; /* Added background color for visibility */
  color: white; /* Ensuring text is visible */
}

.social-sidebar {
  position: fixed;
  right: -100px; /* Sidebar hidden initially off the right side */
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #333;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.social-icon {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  margin: 10px 0;
  display: block;
}

.social-icon:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Optional: background color on hover with some opacity */
  color: #fff; /* Icon color on hover */
}

.navbar__toggle {
  display: block; /* Show toggle button */
  cursor: pointer;
  z-index: 10002; /* Ensure it appears above other elements */
}


.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}


/* Media query for screens smaller than 600px */
@media (max-width: 600px) {

  #contact-page {
    display: none;
  }

  .navbar__container {
    justify-content: space-between; /* Align items to the left and right */
  }

  .navbar__logo {
    width: 40%;
    top: 0;
  }

  .bar{
    display: block;
  }

  .navbar__toggle {
    position: fixed;
    right: 20px; /* Adjust position to the right */
    top: 20px;
    display: block;
    cursor: pointer;
    z-index: 10002;
  }

  .navbar__menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    transform: translateY(100%);
    transition: transform 0.3s ease, display 0.3s ease;
  }

  .navbar__toggle.active ~ .navbar__menu {
    display: block;
    transform: translateY(0);
  }

  .navbar__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar__menu li {
    margin-bottom: 10px;
  }

  .navbar__item {
    padding: 0;
  }

  .navbar__links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: #444; /* Added background color for visibility */
    color: white; /* Ensuring text is visible */
  }

  /* Transform animation when toggled */
  .navbar__toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar__toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar__toggle.active ~ .navbar__menu {
    display: block; /* Show menu when toggle button is active */
  }
}