.welcome-section {
    background-color: transparent; 
    color: #fff; 
    text-align: center;
    padding: 40px 0; 
}

.welcome-content h2 {
    font-size: 1.5em; 
    margin-bottom: 0.5em; 
    text-transform: uppercase; 
    color: #E6E6E6; 
}

.welcome-content h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em; 
}

.divider {
    width: 50px; 
    height: 3px; 
    background-color: #D50000; 
    margin: 0 auto; 
    margin-bottom: 2em; 
}

.welcome-content p {
    font-size: 1em; 
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px; /* adjust as needed */
    padding: 0 20px; /* adjust for padding on the sides */
}

.welcome-section a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: inline-block;  /* Makes margin effective by treating the element as a block within its line */
    margin-top: 20px;  /* Adds space above the link */
}

.welcome-content a:hover {
    opacity: 70%;
}
